
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #FAFAFA;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* //main-navigation bar */

.nav-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 23%;
    height: 700px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DFDFDF;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.nav-group {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-img {
   width: 60%;
   height: auto;
   display: block;
   position: absolute;
   top: 0;
   padding-top: 35px;
   padding-left: 20px;

}

.home-bar {
    width: 18%;
    max-width: 1000px;
    height: auto;
    display: block;
    position: absolute;
    top: 80px;
    padding-left: 25px;
    padding-top: 50px;
}

.homebar-sent {
    display: inline;
    position: absolute;
    top: 140px;
    left: 85px;
    font-family:  monospace, Helvetica;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
}

.search-bar {
    width: 18%;
    max-width: 1000px;
    height: auto;
    display: block;
    position: absolute;
    top: 150px;
    padding-left: 25px;
    padding-top: 55px;
}

.searchbar-sent {
    display: inline;
    position: absolute;
    top: 210px;
    left: 85px;
    font-family:  monospace, Helvetica;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
}

.explore {
    width: 18%;
    max-width: 1000px;
    height: auto;
    display: block;
    position: absolute;
    top: 220px;
    padding-left: 25px;
    padding-top: 55px;
}

.explore-sent {
    display: inline;
    position: absolute;
    top: 280px;
    left: 85px;
    font-family:  monospace, Helvetica;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
}

.messages {
    width: 18%;
    max-width: 1000px;
    height: auto;
    display: block;
    position: absolute;
    top: 290px;
    padding-left: 25px;
    padding-top: 55px;
}

.messages-sent {
    display: inline;
    position: absolute;
    top: 350px;
    left: 85px;
    font-family:  monospace, Helvetica;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
}

.notifications {
    width: 18%;
    max-width: 1000px;
    height: auto;
    display: block;
    position: absolute;
    top: 360px;
    padding-left: 25px;
    padding-top: 55px;
}

.notifications-sent {
    display: inline;
    position: absolute;
    top: 420px;
    left: 85px;
    font-family:  monospace, Helvetica;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
}

.add {
    width: 18%;
    max-width: 1000px;
    height: auto;
    display: block;
    position: absolute;
    top: 430px;
    padding-left: 25px;
    padding-top: 55px;
}

.add-sent {
    display: inline;
    position: absolute;
    top: 490px;
    left: 85px;
    font-family:  monospace, Helvetica;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
}

.user-profile {
    width: 15%;
    height: 5%;
    max-width: 1000px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 510px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 50%;

}

.userprofile-sent {
    display: inline;
    position: absolute;
    top: 555px;
    left: 85px;
    font-family:  monospace, Helvetica;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
}

.menu {
    width: 18%;
    max-width: 1000px;
    height: auto;
    display: block;
    position: absolute;
    top: 565px;
    padding-left: 25px;
    padding-top: 55px;
}

.menu-sent {
    display: inline;
    position: absolute;
    bottom: 54px;
    left: 85px;
    font-family:  monospace, Helvetica;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
}

/* //middle part */

.main {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 200px;
}

.cover {
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
}

.left {
    display: flex;
    flex-direction: column;
}

.status {
    width: 100%;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    padding-top: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status::-webkit-scrollbar {
    display: none;
}

.status-card {
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    position: relative;
    bottom: 12px;
}

 .profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 80%);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
}

.userstatus {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 78px;
    left: 0;
}

.post {
    width: 100%;
    height: auto ;
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    margin-top: 40px;
}

.info {
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}

.users {
  position: relative;
  top: 0;
}

.user-status {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 20px;
    right: 163px;
}

.info .options {
    height: 10px;
    cursor: pointer;
}

.info .profile-pic {
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.info .profile-pic img {
    border: none;
}

.post-image {
    width: 100%;
    max-width: 1000px;
    height: 600px;
    object-fit: cover;
}

.post-content {
    width: 100%;
    padding: 20px;
}

.likes {
    font-weight: bold;
}

.description {
    margin: 10px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

.description span {
    font-weight: bold;
    margin-right: 11px;
    color: black;
}

.post-time {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-group {
    width: 100%;
    height: 50px;
    border-radius: 1px solid #DFDFDF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-group .icon {
    height: 30px;
    margin-left: 10px;
}

.comment-box {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding-left: 6px;
    /* margin-top: 2px; */
}

.comment-btn,
.action-btn {
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgba(0, 162, 255, 0.5);
}

.reaction-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon {
    height: 25px;
    margin: 0;
    margin-right: 20px;
    font-weight: 700;
}

.reaction-wrapper .icon.save {
    margin-left: auto;
}

/* //right-side codes */
.right {
    padding: 20px;
}

.profile-card {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-card .profile-pic {
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.profile-card:first-child .profile-pic {
    width: 70px;
    height: 70px;
}

.profile-card .profile-pic img {
    border: none;
}

.profile-card .userstatus {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    position: absolute;
    top: 1px;
    right: 40px;
    margin-top: -15px;
}

.sub-text {
    color: rgba(0, 0, 0, 0.5);
    font: 12px;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 500;
}

.action-btn {
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
    margin-left: 70px;
}

.suggestion-text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    margin: 20px 0;
    font-weight: 700;
}
